ul {
    margin: 0;
}

.content-section {
    padding: 30px 25px;
    border-radius: 3px;
    margin: 60px 0;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

#id_image {
    width: 100%;
}

.logout {
    margin: 40px 0;
    font-family: 'Quicksand', sans-serif;
}

.logout p {
    font-size: 24px;

}