.container {
    padding: 10px;
    border-radius: 3px;
    box-shadow: 3px 8px 16px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 3px 8px 16px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: 3px 8px 16px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

/*  Events display */
.events-container {
    background: rgba(0, 0, 0, 0.836);
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 5px;
}

.event-card {
    padding: 15px 0;
    margin: 10px;
    background: #fff;
    border-left: 10px solid #52A0FD;
    border-radius: 3px;
    box-shadow: 3px 8px 16px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 3px 8px 16px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: 3px 8px 16px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.event-count, .event-name, .event-cancelled {
    display: inline;
    padding: 0 10px;
    font-size: 1rem;
}

.event-count {
    color: #52A0FD;
}

.event-cancelled {
    color: #FF1744;
}

/*  Calendar wrapper */
.calendar-container  {
    background: #fff;
}

/* Calendar Header */
.year-header {
    background: rgb(238, 62, 49);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height: 40px;
    text-align: center;
    position: relative;
    color:#fff;
    border-radius: 3px;
}

.year-header span {
    font-size: 20px;
    line-height:40px;
}

.left-button, .right-button {
    cursor: pointer;
    width:28px;
    text-align:center;
    position:absolute;
}

.left-button {
    left:0;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
}

.right-button {
    right:0;
    top:0;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}

.left-button:hover {
    background: rgb(235, 80, 69);
}

.right-button:hover {
    background: rgb(235, 80, 69);
}

.days-table {
    padding: 0;
    width: 100%;
}

/*  Dates table */
.day {
    cursor: default;
    height: 26px;
    width: 26px;
    color:#837272;
    padding: 1em;
    text-align:center;
    font-weight: bold;
}

.day-name{
    padding-top: 10px;
    cursor: default;
    color: #5f5d5d;
    height: 26px;
    width: 26px;
    text-align: center;
    font-size: 1.2em;
}

.day:not(.nil):hover {
    color: lightcoral;
}

.today {
    background-color: #dacd19 !important;
    color: #fff !important;
    border-radius: 3px;
}

.active-date{
    background-color: #7fcbc3 !important;
    border-radius: 3px;
    color: #fff !important;
    transition: background-color 0.4s cubic-bezier(0.25, 0.1, 0.49, 0.9);
}

.hora{
    border-radius: 5px;
    margin: 3px;
    background: rgb(235, 177, 69);
    color: #f7f7f7;
    padding: 3px;
}

.hora:hover{
    background: rgb(199, 235, 69);
    color: #f7f7f7;
}

#am{
    width: 70%;
    text-align: center;
}

#pm{
    width: 70%;
    text-align: center;
}

.reservado{
    color: lime;
}