<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">


    <link href="https://fonts.googleapis.com/css?family=Kanit|Oswald|Quicksand|Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <link rel=icon href={% static 'images/icono2.png' %} sizes="any" type="image/svg+xml">
    <title>Ikigai</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body id="reserva" data-spy="scroll" data-target=".menu" data-offset="60">
<!--Menu-->
<nav class="navbar navbar-expand-md navbar-dark sticky-top">
    <a class="brand mr-2" href="#reserva"><img src="{% static 'images/icono.png' %}" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'ikigai:index' %}">Ikigai</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'reserva:reserva' %}">Reservas</a>
            </li>
        </ul>
        <form class="form-inline">
            {% if user.is_authenticated %}
                <a class="btn btn-sm btn-outline-light mr-2" href="{% url 'profile' %}">Perfil</a>
                <a class="btn btn-sm btn-outline-light" href="{% url 'logout' %}">Cerrar Sesion</a>
            {% else %}
                <a class="btn btn-sm btn-outline-light" href="{% url 'login' %}">Iniciar Sesion</a>
            {% endif %}
        </form>
    </div>
</nav>
<!--/Menu-->

{% if messages %}
    {% for message in messages %}
        <div class="profile-alert alert alert-{{ message.tags }}" style="font-size: 2.5vmin;">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% block content %}

{% endblock %}

<!--Box-->
<div class="section shadow-lg" id="box">
    <h2 class="title text-center">Reservas</h2>
    <div class="row justify-content-center">
        {% if boxes %}
            {% for box in boxes %}
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="box_grid shadow">
                        <figure class="block-reveal">
                            <img src="{{ box.imagen.url }}" class="img-fluid" alt="">
                            <div class="price">{{ box.nombrebox }}</div>
                        </figure>
                        <div class="wrapper">
                            <small>Equipamiento</small>
                            <p>{{ box.contenido }}</p>
                            <small>Espacial para:</small>
                            <p>{{ box.proposito }}</p>
                        </div>
                        <ul>
                            <li>
                                <div class="btn-reserva" id="{{ box.id }}" data-toggle="modal"
                                     data-target="#{{ box.nombrebox }}">Reservar Ahora
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!--Modal-->
                <div id="{{ box.nombrebox }}" class="modal fade" tabindex="-1" role="dialog"
                     aria-labelledby="gridModalLabel" style="display: none;" aria-hidden="true" data-backdrop="static"
                     data-keyboard="false">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="gridModalLabel">{{ box.nombrebox }}</h5>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid bd-example-row">
                                    <div class="row">
                                        <div class="col-12 calendar" id="{{ box.id }}"><!--calendario--> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-canReserva" data-dismiss="modal"
                                        id="{{ box.id }}">Cancelar
                                </button>
                                <button type="button" class="btn btn-primary btn-conReserva" id="{{ box.id }}">
                                    Reservar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fin Modal-->

            {% endfor %}
        {% else %}
            <p>Agregar Box</p><i class="far fa-grin-beam-sweat"></i>
        {% endif %}
    </div>
</div>
<!--/Box-->


</body>
<!--Footer-->
<footer class="footer text-center">
    <div class="pt-3">
        <a href="#reserva">
            <i class="fas fa-angle-up "></i>
        </a>
    </div>
    <ul class="pt-3 social">
        <li class="list-inline-item">
            <p>Siguenos en</p>
        </li>
        <li class="list-inline-item">
            <a href="https://www.facebook.com/Centro-Ikigai-263378267525965/?ref=settings"
               class="btn-floating btn-fb mx-1">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.instagram.com/centroikigai/" class="btn-floating btn-dribbble mx-1">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
    </ul>
    <div class="footer-copyright p-3">Todos los derechos reservados | Centro Ikigai 2018
    </div>
</footer>
<!--/Footer-->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
-->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
</script>

<script src="{% static 'js/calendar.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<!--
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
-->

<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
<!--<script src="{% static 'js/popper.min.js' %}"></script>-->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script src="{% static 'js/jquery.min.js' %}"></script>

<!--Smooth scroll-->
<script>
    $(document).ready(function () {
        // Add smooth scrolling to all links in navbar + footer link
        $(".navbar a, .footer a[href='#reserva']").on('click', function (event) {
            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                let hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 900, function () {

                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
            } // End if
        });
    });
</script>

<!--Oculta mensajes de alerta-->
<script>
    $(document).ready(function () {
        $(".alert-success").fadeTo(7000, 0).slideUp(500, function () {
            $(".alert-success").slideUp(500);
        });
    });
</script>

<script>
    var btnReserva = document.getElementsByClassName('btn-reserva');
    var calendar = document.getElementsByClassName("calendar");

    for (let btnReservar of btnReserva) {
        btnReservar.onclick = function () {
            for (let i of calendar) {
                if (i.id === btnReservar.id) {
                    console.log('chapala')
                    i.innerHTML = `<div class="container">
                                    <div class="row justify-content-center">
                                    <div class="col-12 col-lg-6 mb-4">
                                    <div class="calendar-container">
                                    <div class="calendar">
                                    <div class="year-header">
                                    <span class="left-button" id="prev"> &lang; </span>
                                    <span id="date"></span>
                                    <span class="right-button" id="next"> &rang; </span>
                                    </div>
                                    <table class="days-table">
                                    <thead>
                                    <td class="day-name">Lu</td>
                                    <td class="day-name">Ma</td>
                                    <td class="day-name">Mi</td>
                                    <td class="day-name">Ju</td>
                                    <td class="day-name">Vi</td>
                                    <td class="day-name">Sa</td>
                                    <td class="day-name">Do</td>
                                    </thead>
                                    <tbody class="month-table">
                                    </tbody>
                                    </table>
                                    </div>
                                    </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                    <div class="events-container">
                                    <div class="events"></div>
                                    <div id="horas" class="row">
                                    <div id="am" class="col-6"></div>
                                    <div id="pm" class="col-6"></div>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    `;
                }
            }
        }
    }



    for (let btnReservar of btnReserva) {
        btnReservar.onclick = function () {
            for (let i of calendar) {
                if (i.id === btnReservar.id) {
                    i.innerHTML = `<div class="container">
                                    <div class="row justify-content-center">
                                    <div class="col-12 col-lg-6 mb-4">
                                    <div class="calendar-container">
                                    <div class="calendar">
                                    <div class="year-header">
                                    <span class="left-button" id="prev"> &lang; </span>
                                    <span id="date"></span>
                                    <span class="right-button" id="next"> &rang; </span>
                                    </div>
                                    <table class="days-table">
                                    <thead>
                                    <td class="day-name">Lu</td>
                                    <td class="day-name">Ma</td>
                                    <td class="day-name">Mi</td>
                                    <td class="day-name">Ju</td>
                                    <td class="day-name">Vi</td>
                                    <td class="day-name">Sa</td>
                                    <td class="day-name">Do</td>
                                    </thead>
                                    <tbody class="month-table">
                                    </tbody>
                                    </table>
                                    </div>
                                    </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                    <div class="events-container">
                                    <div class="events"></div>
                                    <div id="horas" class="row">
                                    <div id="am" class="col-6"></div>
                                    <div id="pm" class="col-6"></div>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    `;

                    // Setup the calendar with the current date
                    let date = new Date();
                    $(document).ready(function () {
                        let today = date.getDate();
                        // Set click handlers for DOM elements
                        $('.left-button').click({date: date}, prev_month);
                        $('.right-button').click({date: date}, next_month);
                        init_calendar(date);
                        let events = check_events(today, date.getMonth() + 1, date.getFullYear());
                    });

                    // Initialize the calendar by appending the HTML dates
                    let today = date.getDate(); // obtine numero del dia del mes
                    let thisMonth = date.getMonth();
                    let thisYear = date.getFullYear();

                    function init_calendar() {
                        let calendar_days = $(".month-table");// Asocia la tabla de fechas a la variable calendar_days
                        calendar_days.empty(); // Vacía los dias del calendario
                        let month = date.getMonth(); // obtiene numero de mes. enero = 0
                        let year = date.getFullYear(); // Obtiene el año yyyy
                        let day_count = days_in_month(month, year); // Obtiene cantidad de dias del mes
                        // Set date to 1 to find the first day of the month
                        date.setDate(1); // Setea variable date con el prier dia del mes
                        let first_day = date.getDay(); // Obtiene el dia (D,L,M,M,J,V,S) del primer die del mes
                        let firstDay = 0;
                        switch (first_day) {
                            case 0:
                                firstDay = 7;
                                break;
                            case 1:
                                firstDay = 1;
                                break;
                            case 2:
                                firstDay = 2;
                                break;
                            case 3:
                                firstDay = 3;
                                break;
                            case 4:
                                firstDay = 4;
                                break;
                            case 5:
                                firstDay = 5;
                                break;
                            case 6:
                                firstDay = 6;
                                break;
                        }
                        // 35+firstDay is the number of date elements to be added to the dates table
                        // 35 is from (7 days in a week) * (up to 5 rows of dates in a month)
                        for (i = 0, e = 1; i < day_count + firstDay - 1; i++, e++) {
                            // Since some of the elements will be blank,
                            // need to calculate actual date from index
                            let day = e - firstDay + 1;
                            // If it is a sunday, make a new row
                            if (i % 7 === 0) { // cero y siente % 0
                                var row = $("<tr class='week'></tr>");
                                calendar_days.append(row);
                            }

                            // if current index isn't a day in this month, make it blank
                            if (e < firstDay || day > day_count) {
                                let curr_date = $("<td class='day nil'>" + "</td>"); // Agrega dia vacío a la tabla
                                row.append(curr_date);
                            } else {
                                let curr_date = $("<td class='day'>" + day + "</td>"); // Agrega dia a la tabla
                                let events = check_events2(day, month + 1, year); // Verifica si hay eventos en la fecha seleccionada ----------------?
                                if (today === day && month === thisMonth && year === thisYear) { // varifica si la fecha agregada coincide con la decha actual y agrega clase
                                    curr_date.addClass("today");
                                    show_events(events, months[month], day);//Muestra eventos del dia actual
                                }
                                // If this date has any events, style it with .event-date
                                if (events.length !== 0) {
                                    curr_date.addClass("event-date");//Verifica si hay eventos en el dia y agrega clase
                                }
                                // Set onClick handler for clicking a date
                                curr_date.click({events: events, month: months[month], day: day}, date_click);//------------------------------------?
                                row.append(curr_date); // Agrega dia a la tabla
                            }
                        }
                        // Append the last row and set the current year
                        //    calendar_days.append(row);//------------------------------------?
                        let m = document.getElementById('date');
                        m.innerHTML = months[month] + ' ' + year
                    }

                    // Get the number of days in a given month/year
                    function days_in_month(month, year) {
                        let monthStart = new Date(year, month, 1);
                        let monthEnd = new Date(year, month + 1, 1);
                        return (monthEnd - monthStart) / (1000 * 60 * 60 * 24);
                    }

                    // Event handler for when a date is clicked
                    function date_click(event) {
                        $(".events").show(250);
                        $(".active-date").removeClass("active-date");
                        $(this).addClass("active-date");
                        show_events(event.data.events, event.data.month, event.data.day);
                        cargaHoras()
                    }

                    function next_month(event) {
                        $(".events").empty();
                        //var date = event.data.date;
                        let new_month = date.getMonth() + 1;
                        //   $("year").html(new_year);
                        date.setMonth(new_month);
                        init_calendar();
                    }

                    function prev_month(event) {
                        $(".events").empty();
                        //var date = event.data.date;
                        let new_month = date.getMonth() - 1;
                        //   $("year").html(new_year);
                        date.setMonth(new_month);
                        init_calendar();
                    }

                    // Display all events of the selected date in card views
                    function show_events(events, month, day) {
                        // Clear the dates container
                        $(".events").empty();  // Vacía los eventos de la lista de eventos
                        $(".events").show(250);
                        //console.log(event_data["events"]);
                        // If there are no events for this date, notify the user
                        if (events.length === 0) {
                            let event_card = $("<div class='event-card'></div>");
                            let event_name = $("<div class='event-name'>No hay eventos en " + month + " " + day + ".</div>");
                            $(event_card).css({"border-left": "10px solid #FF1744"});
                            $(event_card).append(event_name);
                            $(".events").append(event_card);
                        } else {
                            // Go through and add each event as a card to the events container
                            for (let i = 0; i < events.length; i++) {
                                let event_card = $("<div class='event-card'></div>");
                                let event_name = $("<div class='event-name'>" + events[i]["dia"] + ":</div>");
                                let event_count = $("<div class='event-count'>" + events[i]["ano"] + "</div>");
                                if (events[i]["cancelled"] === true) {
                                    $(event_card).css({
                                        "border-left": "10px solid #FF1744"
                                    });
                                    event_count = $("<div class='event-cancelled'>Cancelled</div>");
                                }
                                $(event_card).append(event_name).append(event_count);
                                $(".events").append(event_card);
                            }
                        }
                    }

                    // Checks if a specific date has any events
                    function check_events(day, month, year) {
                        var events = [];
                        for (let i = 0; i < event_data["events"].length; i++) {
                            let event = event_data["events"][i];
                            if (event["day"] === day &&
                                event["month"] === month &&
                                event["year"] === year) {
                                events.push(event);
                            }
                        }
                        return events;
                    }

                    function check_events2(day, month, year) {
                        var events = [];
                        fetch('http://127.0.0.1:8000/reservas/')
                            .then(function (response) {
                                return response.json();
                            })
                            .then(function (horasreservadas) {
                                console.log(horasreservadas.length);
                                for (let i = 0; i < horasreservadas.length; i++) {
                                    let event = horasreservadas[i];
                                    if (event["dia"] === day &&
                                        event["mes"] === month &&
                                        event["ano"] === year) {
                                        events.push(event);
                                    }
                                }
                            });

                        return events;
                    }



                    // Given data for events in JSON format
                    var event_data = {
                        "events": [
                            {
                                "occasion": " Repeated Test Event ",
                                "invited_count": 120,
                                "year": 2020,
                                "month": 1,
                                "day": 9,
                                "cancelled": true,
                            },
                            {
                                "occasion": " Repeated Test Event ",
                                "invited_count": 120,
                                "year": 2020,
                                "month": 1,
                                "day": 10,
                                "cancelled": false
                            }
                        ]
                    };



                    const months = [
                        "Enero",
                        "Febrero",
                        "Marzo",
                        "Abril",
                        "Mayo",
                        "Junio",
                        "Julio",
                        "Agosto",
                        "Septiembre",
                        "Octubre",
                        "Noviembre",
                        "Diciembre"
                    ];
                    break;
                }
            }
        };
    }


    var btnCanReserva = document.getElementsByClassName('btn-canReserva');
    for (let btnCanReservar of btnCanReserva) {
        btnCanReservar.onclick = function () {
            for (let i of calendar) {
                if (i.id === btnCanReservar.id) {
                    i.innerHTML = '';
                    break;
                }
            }
        };
    }

    function cargaHoras() {
        let am = document.getElementById('am');
        let pm = document.getElementById('pm');
        am.innerText = '';
        pm.innerText = '';
        fetch('http://127.0.0.1:8000/horas/')
            .then(function (response) {
                return response.json();
            })
            .then(function (horas) {
                for (let h of horas) {
                    if(h.idhora < 5){
                        am.innerHTML += `
                                     <div class="hora" id="${h.idhora}">${h.hora}</div>
                                     `
                    }
                    else {
                        pm.innerHTML += `
                                     <div class="hora" id="${h.idhora}">${h.hora}</div>
                                         `
                    }
                }
            });
    }



</script>

